
      .rscarrusel{width:1280px;height:820px;overflow:hidden;position:relative; box-shadow:0px 4px 10px rgba(0,0,0,0.3);}
      .rscarrusel section{width:8960px;display:flex;left:0px;transition:all 1s;position:relative;}
      .rscarrusel section img{width:1280px;height:720px;}
      button{border:none;background:rgba(255,255,255,0.5);width:60px;height:60px;
      position:absolute;top:50%;border-radius:60px;font-size:40px;line-height:60px;text-align:center;}
      button:hover{background:rgba(255,255,255,1);transition:all 1s;}
      .rscarrusel button:first-of-type {left:10%;}
      .rscarrusel button:last-of-type {right:10%;}
